/* From Uiverse.io by ashwin_5681 */
.card {
  width: 80%;
  height: 80%;
  padding: 4px;
  border-radius: 25px;
  margin-top: 10px;
  background: linear-gradient(45deg, #232638, #262636);
  box-shadow: inset 15px -15px 30px #0f0f0f, inset -15px 15px 30px #262626;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Opcional: un pequeño zoom al señalar */
  box-shadow: inset 20px -20px 41px #2a2a2a, inset -20px 20px 41px #2f2f2f;
}

/* Estilo para los íconos */
.card .icon {
  filter: grayscale(100%); /* Los íconos están en escala de grises por defecto */
  transition: filter 0.3s ease, transform 0.3s ease;
}

/* Al señalar toda la tarjeta, colorea los íconos */
.card:hover .icon {
  filter: grayscale(0); /* Restablece los colores originales */
  transform: scale(1.1); /* Opcional: un ligero zoom */
}

.card p {
  font-size: 12px;
  color: white;
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider .list .item img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }

  to {
    left: 100%;
  }
}